$backround: #ffffff
$text: #000000
$liana-green: #4c8930
$accent: #eceeef

body
    margin: 0 0
    border: 0 0
    padding: 0 0 


.header
    display: inline
    .header-upper
        background-color: $liana-green
        color: $backround
        ul
            display: flex
            justify-content: flex-end
            list-style: none
            li
                margin: 0 10px
    .header-lower
        display: flex
        justify-content: space-around
        ul
            display: flex
            list-style: none
            li
                margin: 0 5px
                img
                    max-height: 30px
                button
                    background-color: $liana-green
