$backround: #ffffff
$text: #000000
$liana-green: #4c8930
$accent: #eceeef

body
    margin: 0 0
    border: 0 0
    padding: 0 0 


.header
    display: inline
    .header-upper
        background-color: $liana-green
        ul
            display: flex
            justify-content: space-around
            padding: 0
            list-style: none
            li
                margin: 0 10px
        