$backround: #ffffff
$text: #000000
$liana-green: #4c8930
$accent: #eceeef

body
    margin: 0 0
    border: 0 0
    padding: 0 0 

button
    background-color: $liana-green
    color: $backround
    border-radius: 3px
    border-bottom: 5px solid $liana-green
    border-top: 5px solid $liana-green
    border-left: 10px solid $liana-green
    border-right: 10px solid $liana-green
    
input
    height: 30px
    border-radius: 3px
    border-color: $accent
                

.header
    display: inline
    .header-upper
        background-color: $liana-green
        color: $backround
        ul
            display: flex
            justify-content: flex-end
            list-style: none
            li
                margin: 0 10px
    .header-lower
        display: flex
        justify-content: space-around
        ul
            display: flex
            list-style: none
            li
                margin: 0 15px
                img
                    max-height: 30px


.newsletter    
    align-items: center
    text-align: center 
    .newsletter-form
        display: flex
        justify-content: center
        input
            margin-right: 15px


@media only screen and (max-width: 700px) 
    .header
        display: inline
        .header-lower
            display: inline
            justify-content: center
            ul
                padding-left: 0
                justify-content: center
                li
                    margin: 0 3px


